<div class="container text-center" id="searchbarcontainer">
<span>
  <%= form_tag(search_companies_path, method: :get) do %>
    <%= text_field_tag :search,  "",  placeholder: 'Search The Company You Applied For...', class:  'navsbarsearchfield'%>
    <%= button_tag :submit, id: 'searchicon' do %>
   <span class="glyphicon glyphicon-search btn-bg"></span> 
		<% end %>
  <% end %>
</span>
</div>