<div class="jumbotron jumbotron-fluid" id=jumbotronAbout>
  <div class="container-fluid">
    <h2 class="display-4" style="text-align: center;">RelyApply</h2>
    <p class="lead" style="text-align: center;">Know When You'll Hear Back</p>
    <section>
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5" id="aboutImage">
                <%= image_tag('frustration.jpg', :id => "frustration", :class => "img-fluid rounded-circle") %>
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5" style="color:white;" id="aboutSection">
              <h2 class="display-4" style="border-bottom: 4px solid white">The Problem</h2>
                <p>Waiting to hear back after applying or interviewing is absolutely stressful. Sometimes, employers don't even bother to contact you for a follow-up further adding to the stress. Sometimes, when you're looking for a job, they have steep experience requirements, even it it's for an entry level position.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5" id="aboutImage">
              <%= image_tag('fistbump.jpg', :id => "frustration", :class => "img-fluid rounded-circle") %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5" id="aboutSection">
              <h2 class="display-4" style="border-bottom: 4px solid white">The Solution</h2>
              <p>RelyApply was created as an information hub based on a community that shares their experiences on how long it takes employers to give a proper and informative follow-up after applying or interviewing. Users who were interviewed can also share what it was like, did they meet the requirements, and whether or not they were offered the position. <strong>The purpose of RelyApply is to help job seekers save their time.</strong></p>
            </div>
          </div>
        </div>
      </div>
    </section>
   
  </div><!--div class="container-fluid"-->
  <div class="container-fluid">
        <div class="container">
        <div class="row align-items-center">   
            <div class="p-5">
              <h2 class="display-4" style="border-bottom: 4px solid white">How it Works</h2>
            </div>
        </div>
      </div>

    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline4">
          <div class="timeline">
            <a class="timeline-content">
              <span class="year">Step 1</span>
              <div class="inner-content">
                  <h3 class="title">Apply or Interview</h3>
                  <p class="description">
                      Apply for that job or have that interview. 
                  </p>
              </div>
            </a>
            </div>
            <div class="timeline">
              <a class="timeline-content">
                <span class="year">Step 2</span>
                <div class="inner-content">
                  <h3 class="title">Go on RelyApply</h3>
                  <p class="description">
                    Look up the company on RelyApply. Check how long it took for other people to hear back.
                  </p>
                </div>
              </a>
            </div>
            <div class="timeline">
              <a class="timeline-content">
                <span class="year">Step 3</span>
                <div class="inner-content">
                  <h3 class="title">Estimate Your Response Time</h3>
                  <p class="description">
                     Based on the information on this site, you should mark down on your calendar on the most likely time you'll hearback. 
                  </p>
                </div>
              </a>
            </div>
            <div class="timeline">
              <a class="timeline-content">
                <span class="year">Step 4</span>
                <div class="inner-content">
                  <h3 class="title">Take Action</h3>
                  <p class="description">
                    If you didn't hear back. Do a follow-up and wait a little more or assume you didn't get it.
                  </p>
                </div>
              </a>
            </div>
            <div class="timeline">
              <a class="timeline-content">
                <span class="year">Step 5</span>
                <div class="inner-content">
                  <h3 class="title">Share</h3>
                  <p class="description">
                      Go on relyapply.com and share your experience.
                  </p>
                </div>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

