<% content_for :title do %>
  About | Rely Apply
<% end %>

<h1 id="logo-about">About Rely-Apply</h1>

<hr>

<div class="container">
  <div class="page-header">
    
    <h3 class="about-style-header">The Problem</strong>
  </div>

    <h4>
        <%= image_tag('frustration.jpg', :id => "frustration", :class => "right") %>
        Have you ever sent in a job application and wondered when you would ever hear back from them? 
        <br />
        <br />
    	Far too often, sending in job applications feels like they're being sent into a black hole. They send the application in and hope something comes out the other side. 
        <h4>Waiting for a response, many experience:</h4>
        
        <h3 align="center" class="about-stress"><strong>Anxiety & Stress</strong></h3> 
       
    <h4> 
        As we all know, these two prove as a mental obstacle during the job hunting process as well as negatively affecting overall quality of life. 
    </h4>
</div>

<hr class="line">

<div class="container">
  <div class="page-header">
    <h3 class="about-style-header">The Solution</h3>
    <h4>
    	Rely-Apply was created as an information hub based on a community that shares their experiences how long it took a company to get back to them after applying. And we're not talking about a response that says: 
    </h4>
        <blockquote>
            "Hello, thanks for applying. We will get back to you as soon as we go over your application." 
        </blockquote>
        <h4>
        Not at all. We mean how long it takes to hear back regarding a rejection or a scheduling of an interview.
        </h4>
  
        <br />
    	<div>
 		  <h3><u><strong>Our Mission:</strong></u></h3>
 		</div>
 		<div>
 		 <ul>
 			<li><h4>Based on the information submitted by users, we want help give estimated time frames of when a company will probably get back to you</h4></li>

            <li><h4>Allow job seekers to prioritize which applications they will most likely here back from.</h4></li>

 			<li><h4>Help job applicants ease their anxiety and stress during the job hunting process. They can put a mental note on when they should probably hear back.If they don't hear back in a reasonable time frame respective to other applicants' experiences, they can can take proper action by doing a follow-up with the company or assume they didn't get the job. </h4></li> 
		 </ul>
		</div>
    </p>
</div>