<div class="accordion" id="accordionExample">
  <div class="card" id="faqCard">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="faqHeader" style="color:white; font-size: 20px;">
          RelyApply's Guidelines <i class="fas fa-plus-circle" style="color:white;"></i> 
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p>RelyApply's goal is to create an information hub that can be used as a helpful tool for job seekers. Job hunting can be long and difficult. Filling out applications is time consuming. Quite often, after submitting an application, it feels like your throwing your application into a black hole hoping something comes out on the other side. It creates a sense of unease, you'll see people anxsiously looking at their phones and refreshing their emails in hopes of a proper response. The same thing happens even after interviewing, where some people have experienced waiting 6 months later just to get an email saying "We found a better candidate". It is rather inconsiderate that some companies don't take the time to inform applicants in a timely manner. People's time is very important, and it should be a common courtesy to keep them informed. RelyApply wants to be an information hub where job seekers can make informed decisions of not only who should they apply to, but also when. They'll be a bit more at ease because the information provided on RelyApply gives them an idea of when they'll hear back. By then, they can make informed an informed decision by either choosing an company/employer that is more prompt or they know when they should contact the company/employer for a follow-up.</p>
        <ul>
          <li><p>RelyApply will not surpress or change any review.</p></li>
          <li><p>When creating an account, user's are required to use an email and create a password. They can also log in with their Facebook or Gmail Account.</p></li>
          <li><p>We require users to confirm their emails to help ensure the integrity of their profile.</p></li>
          <li><p>The review forms in RelyApply have been created in order to state information in the most terse way possible. Comments have not been enabled when submitting reviews. The review forms simply ask how long did it take to hearback, where, and some details regarding the user's experience and the application/interview's details.</p></li>
          <li><p>When applicants submit reviews to a company/employer, RelyApply takes no sides. If reviews were found to be created out of coercion, they will be removed.</p></li>
          <li><p>When writing a review, you are sharing your opinions based on what you felt was a proper follow-up after applying. We ask that your review be truthful.</p></li>
          <li><p>Companies need at least 5 reviews to show a postive or negative responsiveness indicator.</p></li>
          <li><p>Normally, if it's been over a month, and you haven't heard back, the position you applied for may have been filled. However, some companies don't bother telling applicants.</p></li>
          <li><p>Companies usually get back within a couple of weeks on average.</p></li>
          <li><p>Depending on the industry, average follow-up times can vary.
          We ask users to please be honest with their reviews.
          Sections marked with "*" are required.</p></li>
          <li><p>You can only submit one Application and one Interview review per company/employer for every quarter of the year.</p></li>
          <li><p>If you see incorrect information on a company/employer's profile, registered users can go to the respective company/employer's profile and click the link to make a request to edit those details. Once they are approved by RelyApply's administrators, the changes will be made.</p></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card" id="faqCard">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="faqHeader" style="color:white; font-size: 20px;">Bad Reviews and Suing <i class="fas fa-plus-circle" style="color:white;"></i></button> 
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body" style="color:white;">
        <p>According to precendents set by United States law, RelyApply is not legally responsible for the content and reviews submitted by RelyApply's users. This can be found in Section 230 of Title 47 of the United States Code as part of the Communication Decency Act of 1996. "By its plain language, ยง 230 creates a federal immunity to any cause of action that would make service providers liable for information originating with a third-party user of the service".
        -<a href="https://ilt.eff.org/Zeran_v._America_Online%2c_Inc.html">Zervan v. American Online, Inc.</a></p>
        <br>
        <p>Here is a list of key cases that show this U.S. code is currently upheld: <a href="https://www.eff.org/issues/cda230">https://www.eff.org/issues/cda230</a></p>
      </div>
    </div>
  </div>
  <div class="card" id="faqCard">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="faqHeader" style="color:white; font-size: 20px;">
          Disclosing Review's Authors.
          <i class="fas fa-plus-circle" style="color:white;"></i>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p>It should be noted that RelyApply only requires an email and a set password created by user in order to submit reviews and/or companies that do not exist in the database. RelyApply will turn down requests to identify who wrote a review. Threatened parties should be aware that there have been a stream of documented cases where users <a href="http://itlaw.wikia.com/wiki/Anonymous_speech">right to be anonymous is upheld</a>. However, if the court does, in some way, find it necessary for you to be no longer anonymous for reasons including the involvement of investigative federal agencies, then RelyApply will have to disclose what information we required to create a profile.</p>
    </div>
  </div>
  <div class="card" id="faqCard">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" " id="faqHeader" style="color:white; font-size: 20px;">
          Bad Reviews and RelyApply's Course of Action with Legal Requests and Legal Action 
          <i class="fas fa-plus-circle" style="color:white;"></i>
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <p>RelyApply will not take down reviews because an company/employer asked us to. If the employer who threatened or pursued legal action is found to be done under false circumstances, RelyApply will take legal action against them. When an employer threatens or pursues legal action against our users due to a negative review, RelyApply will review the issue and see if they aligned with our guidelines. Payment to remove such reviews is also not accepted. RelyApply does not favor either side. If a review violates an agreement/policy between a user and an company/employer, RelyApply will not determine whether or not the supposedely offended party is in the right. Please remember, that RelyApply is not going to validate the truthfullness of each review submitted. Any suppossed proof that the reviews are incorrect will be turned down and ignored. Letters may be posted on our website and/or posted on <a href="https://www.lumendatabase.org/">lumendatabase.org</a>, a "database collects and analyzes legal complaints and requests for removal of online materials, helping Internet users to know their rights and understand the law. These data enable us to study the prevalence of legal threats and let Internet users see the source of content removals". A notification will also be placed on the employer's company/employer profile.</p>
        <p>If you feel you have to provide legal documents to RelyApply, please send us a message on our contact page. If the employer who threatened or pursued legal action is found to be done under false circumstances, RelyApply will take legal action against them.</p>

    </div>
  </div>
  <hr>
  <div class="card-header" id="headingThree">
      <p>*These guidelines and FAQ is to provide information only. It is not intended as legal advice. If you must, please contact a certified attorney.*</p>
  </div>
</div>
<br/>
</div>
<br>