<br />
<div class="panel panel-default" id="signupPanelAll">
  <div class="panel-heading" id="signUpHeader"><strong><h2>Submit a Company</h2></strong></div>
	  <div class="panel-body">
	  	<%= render 'form', company: @company %>
	  </div>
</div>