<p id="notice"><%= notice %></p>

<h1>Company Search Results</h1>
<div>
    <p><I>Can't Find the Company You're Looking For?</I> <%= link_to 'Submit a Company', new_company_path%></p>
</div>

<table class="table table-hover" id= "searchtable" >
  <thead class="thead-light" id="tableHeader">
    <tr>
      <th>Company</th>
      <th colspan="5"></th>
      <th >Response Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td style="border-color:grey"><strong><%= link_to company.name, company, data: { turbolinks: false }%></strong></td>
        <td colspan="5" style="border-color:grey"></td>
        <td  align="center" style="border-color:grey" id=tablerows>
          <% if company.reviews.size == 0 %> 
              N/A
          <% else %>
              <%= number_to_percentage((Float(company.reviews.where(satisfaction: "Highly satisfied. My expectations were far surpassed.").size + company.reviews.where(satisfaction: "Average Satisfaction").size) /company.reviews.count * 100), precision: 0) %> Positive
          <% end %>
        </td>
      </tr>
      
    <% end %>
      <tr>
      
      </tr>
  </tbody>
</table>
<hr>
<br>
