//@import "bootstrap-sprockets";
@import "bootstrap";



//Home Page
#test{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */


  margin-top: 150px; 
}

//Media Query for Mobile Devices
@media (min-width: 481px) and (max-width: 767px) {
  #test{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */


  margin-top: 100px; 
}
  
}

//Media Query for Iphone X
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) { #test{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */


  margin-top: 20px; 
}}


//Company Search
.good-review-score{
    //background-color:map-get($theme-colors, secondary);
    //background-color:#66CC33;
    color:white;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    width: 90px;
    height: 70px; 
    //line-height: 30px;*/
    margin-top: 25px !important;
}

#cardSearchPage {
height: auto !important;
margin-top: auto !important;
margin-bottom: 10px !important;
width: 100% !important;
background-color: rgba(0,0,0,0.5) !important;
border-bottom: red;
//border-color: grey !important;
}

#searchCardTitle {
  padding-left: 10px;
  margin-top: 5px !important;
}

#searchContainer {
  background-color: rgba(0,0,0,0.9) !important;
}
#searchtable {
  font-size: 16px;
}




@media (max-width: 991px){
    #submitCompanyPortal{
        margin-bottom: 10px;
    }  
}

#loginContainer{
height: 75%;
//align-content: center;
}

#submitCompanyCard{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 600px;
background-color: rgba(0,0,0,0.5) !important;
}


#submitCompanyHeader h3{
text-align: center;
color: white;
}


.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}


//Submit a Company


@import url('https://fonts.googleapis.com/css?family=Numans');
.divider{
    width:10px;
    height:auto;
    display:inline;
    margin-bottom: 10px;
}

@media (max-width: 991px){
    #submitCompanyPortal{
        margin-bottom: 10px;
    }  
}

#loginContainer{
height: 75%;
align-content: center;
}

#submitCompanyCard{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 600px;
background-color: rgba(0,0,0,0.5) !important;
}


#submitCompanyHeader h3{
text-align: center;
color: white;
}


.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}


#loginBttn {
  text-align:center;
}

loginBttn {
margin-left: -25px !important;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
text-align:center;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}




//Company Show


#companyShowTitleCard {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  
  background-color: rgba(0,0,0,0.5) !important;
}


#panelCompanyShow {
  border: 1px solid grey;
}

#panelCompanyShowHeader {
  background: #2c485c;
  color: white;
}

#Summary {
  border: 1px solid grey;
}

#reviewForm {
  border: 1px solid grey;
}



#alert-info-submit {
  border: 1px solid black;
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    background-color: #0062cc;
    color: white;
    cursor: pointer;
}
.profile-rating{
    font-size: 30px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}


table {
  border-spacing: 0;
   border-collapse: collapse;
}

#tableHeader {
  
  }

thead tr th {
     margin: 0; /* zero out margin */
     color: white;
     text-align: center;
    
}


tbody tr td {
     margin: 0; /* zero out margin */
      font-weight: bold;
     text-align: center;
    
}

#responseScoreShowPage {
    color:white;
    text-align: center;
    padding: 10px;
    //margin-right: 5px;
    //width: 80px;
    //height: 60px; 
    //line-height: 30px;*/
    margin-top: 25px !important;
    font-size: 20px;
}


#editCompanyDetailsCard {
  background-color: white !important;
}

.good-review-score-show{
    background-color:map-get($theme-colors, success);
    //background-color:#66CC33;
    color:white;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    width: 90px;
    height: 70px; 
    //line-height: 30px;*/
    margin-top: 25px !important;
}

.na-review-score-show{
    background-color:map-get($theme-colors, secondary);
    //background-color:#66CC33;
    color:white;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    width: 90px;
    height: 70px; 
    //line-height: 30px;*/
    margin-top: 25px !important;
}

.bad-review-score-show{
    background-color:map-get($theme-colors, danger);
    //background-color:#66CC33;
    color:white;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    width: 90px;
    height: 70px; 
    //line-height: 30px;*/
    margin-top: 25px !important;
}

.mixed-review-score-show{
    //background-color:map-get($theme-colors, warning);
    background-color: orange;
    color:white;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    width: 90px;
    height: 70px; 
    //line-height: 30px;*/
    margin-top: 25px !important;
}

input[type="radio"] { 
  //select all input type = "radio"
    display: inline; 
    margin-left: 0.5em;
}


#navBarShow {
  color: blue !important;
}

#dropdownItem {
  margin-left: 12px !important;
}


#cardBodyText p {
  color: #444444 !important;
}

#thumbsdown {
  text-indent: 50px!important;
}