@import "bootstrap-sprockets";
@import "bootstrap";

//Company Search

#searchtable {
  font-size: 20px;
}
#tableHeader {
	background: #2c485c;
	color: white;
}

#tablerows {
     text-indent: -225px;
}

