//@import "bootstrap-sprockets";
@import "bootstrap";

//Company Search

#searchtable {
  font-size: 20px;
}
#tableHeader {
	background: #2c485c;
	color: white;
}

thead tr th {
     margin: 0; /* zero out margin */
   
     text-align: center;
    
}


tbody tr td {
     margin: 0; /* zero out margin */
   
     text-align: center;
    
}

//Company Show

#panelCompanyShow {
	border: 1px solid grey;
}

#panelCompanyShowHeader {
	background: #2c485c;
	color: white;
}

#Summary {
	border: 1px solid grey;
}

#reviewForm {
	border: 1px solid grey;
}



#alert-info-submit {
	border: 1px solid black;
}