@import "bootstrap";
//background
html, body {
 
  background: url(abstract2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100%;
}



//#homepage { 
  //height: 850px;
  //background: url(WomanApply.jpg) no-repeat center center fixed; 
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
//}




// HOME PAGE 
//disabled homesearch for now was class container fluid in a div


#vcenter {
    height:200px;
    position: absolute;
    top: 50%;
    left: 30%;
    margin-top: -100px;
    margin-left: -100px auto;


}

//.vcenter {
    //margin-top:350px;
    //overflow: hidden;
    //dislay: inline-block;

//}



#searchBarHome {
   display: flex;
   align-items: center;
   justify-content: center;
}

.form_submit {
  background-color: orange;
  color: white;
  font-weight: bold;
}

#search-btn {
  background: orange;
  color: white;
 
}

#input-field-home {
font-size: 20px;
} 



#input-field-home::placeholder {
  color: #383838;
  font-weight: bold;
  font-size: 20px;
}

#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

