// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//About 
#logo-about {
 font-weight: 700;
 text-transform: uppercase;
 letter-spacing: -1px;
 padding: 15px 0;
 color: grey;
 a {
  color: #FFFFFF;
 }
}
#frustration {

  width: auto;
  height: 250px;
  display: block;
  float: right;
}

#about-page {
  background: #2c485c;
  color: white;
}

.about-style-header {
	 color: #111; 
	 font-family: 'Open Sans Condensed', sans-serif; 
	 font-size: 48px; 
	 font-weight: 700; 
	 line-height: 48px; 
	 margin: 0 0 24px; 
	 padding: 0 30px; 
	 text-align: center; 
	 text-transform: uppercase;
}

.line {
 border-top: 1px solid #111; 

  margin-top: 60px;
  
   position: relative; 
}

#about-stress {
	text-align: center;
    margin-left: 40px;
}

#aboutPage {
	background-color: white !important;
}



#jumbotronAbout {
	background-color: rgba(0,0,0,0.7);

}


#jumbotronAbout p {
	color: white !important;
	font-size: 20px;

}

#jumbotronAbout h1 {
	font-size: 70px;
	color: white !important;
}

.display-4 {
	color: white !important;
}
