//@import "bootstrap-sprockets";
@import "bootstrap";

#reviewFilter {
	text-align: center;
}
#reviewIndexHr {
height: 1px;
margin-left: auto;
margin-right: auto;
background-color:grey;
color:#FF0066;
border: 0 none;
}


#review-Submit-Time-Stamp {
font-size: 12px;	
margin-right: 5px;
}

