#reviewIndex{
	border-color: black;
}

.btn btn-warning {
	color: black;
}

#wellProfileForReviewIndex {
	background: #2c485c;
}

#headerProfileForReviewIndex h1{
	display:block;
	text-align:center;
}

#chevronUp {
	color: green;
}


#chevronDown{
	color: red;
}


#reviewFilter {
	text-align: center;
}
#reviewIndexHr {
height: 1px;
margin-left: auto;
margin-right: auto;
background-color:grey;
color:#FF0066;
border: 0 none;
}

#indexReviewMainInfo {
	
}

#review-Submit-Time-Stamp {
font-size: 12px;	
margin-right: 5px;
}