//SIGN UP AND LOGIN (USES SAME PAGES )


#login{
	border: 1px solid grey;
    display: block;
    margin-left: 67%;
    background: #f5f5f5 !important; // original#f5f5f5
   width: 225px;
   padding: 10px;  
}

@media screen and (max-width: 700px) {
   #login {
    margin: 0 auto;
  }
}

#signupPanelAll {
	border: 1px solid grey;
}

#signUpHeader {
	background: #2c485c;

}

#signUpHeader h2 {
	color: white;
}

#editProfileHeader {
	background: #2c485c;

}

#editProfileHeader h3 {
	color: white;
}

#closeAccountHeader {
	background: #2c485c;
}

#closeAccount {
  border: 1px solid grey;
}

#closeAccount .panel-heading h3{
  color: white;
}

#closeAccount .panel-body p{
  font-size: 16px;
}

#formGroupFont {
  font-size: 20px;
}

#userReviewBadge {
  background: orange;
}

#profile-well {
  background: #2c485c;
  color: white;
}