<% content_for :title do %>
 Edit Review | RelyApply
<% end %>

<body>

<% if user_signed_in? && current_user.id == @review.user_id %>
<h1>Editing Review</h1>

<%= render 'form', review: @review %>

<% else %> 
<% controller.redirect_to root_path %>

<% end %>