<% content_for :title do %>
 Edit Review | RelyApply
<% end %>

<h1 style="color: white">Editing Post-Application Review</h1>
<div>
  <% if user_signed_in? && current_user.id == @review.user_id %>
		<%= render 'form', review: @review %>
	<% else %> 
    <% controller.redirect_to root_path %>
	<% end %>
</div>
